#title {
	color: orange;
	padding-top: 7%;
	text-align: center;
}
body {
	background-color: honeydew;
	margin:0;
	
}
h2 {
	margin: 10px;
}
/*Nav Bar Starts Here*/
#NavBar {
	list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #A9DDD9;
    position: fixed;
    overflow: hidden;
	top: 0;
	width:100%;
	z-index:999;
}
.NavItem {
	text-align: center;
	float : left;
	
}
.NavItem a {
    display: block;
 	color : black;
 	text-decoration : none;
 	padding : 18px 20px	
}
.NavItem a:hover{
		color: white;
		background-color: #23B5AF;		/*changes background and text color*/
}
/*Active Nav Item*/ 

.NavItem a.Active {
		background-color:none;
		color: black;
}
.NavItem .Active{
		background-color: AquaMarine;
}
.NavItem .Active:hover{
		color:white;
}